#title{
  
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
}

h1{
    size: 3rem;
    line-height:2;
    color: #fff;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

 .navbar-nav{
     padding-left: 400px;

 }   


.navbar{
    padding-bottom: 4.5rem;

}
.title-image{
    width: 60%;
    transform: rotate(25deg);
   
  
   
}
.nav-link{
    font-size: 1.2rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold; 
    
}
.download-button{
    margin: 5% 3% 5%;
}
img{
    margin-left: 5%;
}
#features{
   padding: 7% 15%;
   background-color:#fff;
  
  
  
  
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
p{
    color: #8f8f8f;
}
.fas{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.fas:hover{
    color: #ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.testominal-image{
    width: 10%;
    border-radius:100%;
    margin: 20px;
}
#press{
    
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding-top: 3%;
    
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }
}
#cta{
    background-color:#ff4c68 ;
    padding: 10%;
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 2;
}
.footer-head{
    padding-bottom: 2rem;
    
}
.footer-btn{
margin-right: 2%;
}
#footer{
    text-align: center;
    padding: 5%;
    background-color: #fff;
}
.ic{
    margin: 20px 10px;
}
.fab{
    margin-right: 5px;
}